@import '../../../../styles/mixins/flexbox';
@import '../../../../styles/mixins/positions';
@import '../../../../styles/constants/colors';

.label_container {
  position: absolute;

  &.new2_18 {
    top: 76%;
    left: 90%;

    .label {
      right: 150%;
    }
  }

  &.new2_1 {
    top: 17.5%;
    left: 23.5%;

    .label {
      left: 150%;
    }
  }

  &.new2_21 {
    top: 52%;
    left: 13%;

    .label {
      left: 150%;
    }
  }

  &.new3_2 {
    top: 41%;
    left: 49.5%;

    .label {
      left: 150%;
    }
  }

  &.new3_22 {
    top: 85%;
    left: 20%;

    .label {
      left: 150%;
    }
  }

  &.new3_19 {
    top: 65%;
    left: 49%;

    .label {
      right: 150%;
    }
  }

  .label_btn {
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 250ms ease-in-out, opacity 250ms ease-in-out;

    &::after {
      display: block;
      @include pos-center(absolute);
      width: 0.75rem;
      height: 0.75rem;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 50%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
      transition: width 250ms ease-in-out, height 250ms ease-in-out;
      content: '';
    }

    &:hover {
      border-color: rgba($color: #fff, $alpha: 0.5);
      background-color: rgba(0, 0, 0, 0.5);

      &::after {
        width: 0.5rem;
        height: 0.5rem;
      }
    }
  }

  .label {
    @include flexbox(between, start);
    @include pos-center-y(absolute);
    padding: 14px 6px 16px 15px;
    width: 100%;
    min-width: 135px;
    max-width: 180px;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.35);
    line-height: 1.571;
    font-size: 0.875rem;

    .product_info {
      font-size: 0.875rem;
      line-height: 1.42857;

      > span {
        display: block;
      }

      .new {
        margin-bottom: 0.25rem;
        font-weight: bold;
        color: $--colour-text-red;
      }

      .name {
        font-weight: bold;
        text-transform: uppercase;
      }

      .category {
        color: $--colour-text-default;
        margin-bottom: 0.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .price {
        font-weight: bold;

        .won {
          margin-right: 0.25rem;
          vertical-align: top;
          font-size: 0.625rem;
        }
      }
    }

    > a[role='button'] {
      transform: rotate(-90deg);

      i {
        font-size: 24px;
      }
    }
  }
}
