@import '../../../../../styles/var';

.item-primary-info {
  > strong {
    width: 100%;
    color: $--colour-cmsg-new;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  @include flexbox(between);
  flex-wrap: wrap;
  margin-bottom: 24px;

  h1 {
    @include column-flexbox(around, start);
    height: 57px;
    font-size: 0.75rem;
    font-weight: 400;

    span:first-of-type {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
  }

  .rating-star {
    width: 100%;
    margin: 4px 0;
    font-size: 14px;

    .ic-star:last-of-type {
      color: lightgray;
    }
  }
}
