@import '../../../../styles/var';

.detail_main {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  margin-bottom: 40px;

  hr {
    width: 100%;
    border: 1px solid $--colour-border-light;
  }

  @include responsive(T) {
    padding: 0 48px;
  }

  @include responsive(D) {
    padding: 132px 40px 0 20px;

    .sticky {
      position: sticky;
      top: 140px;
      margin-bottom: 100px;
    }

    .item-img {
      img {
        margin: 3px;
        width: 49%;
        height: 500px;
      }
    }
  }
}
