@import '/src/styles/common.scss';

.sticky {
  position: sticky;
  top: 96px;
}

.item-info {
  > p {
    color: $--colour-cmsg-new;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .item-primary-info {
    @include flexbox(between);
    flex-wrap: wrap;
    margin-bottom: 24px;
    h1 {
      @include column-flexbox(around, start);
      height: 57px;
      font-size: 0.75rem;
      font-weight: 400;
      span:first-of-type {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0.25rem;
      }
    }

    .rating-star {
      width: 100%;
      margin: 4px 0;
      font-size: 14px;

      .ic-star:last-of-type {
        color: lightgray;
      }
    }
  }

  .item-btn-group {
    @include flexbox(around);
    width: 100%;
    height: 56px;
    margin: 16px 0 20px 0;

    button:first-of-type {
      width: 80%;
      height: 56px;
      border-radius: 64px;
      color: white;
      font-weight: 700;
      background-color: $--colour-button-primary-emphasised-default;
    }

    button:last-of-type {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      font-weight: 700;
      border: 2px solid $--colour-border-light;
    }
  }

  .item-availability {
    font-size: 14px;

    .stock-check {
      margin-top: 20px;
      padding-bottom: 20px;

      i {
        margin-right: 6px;
        font-size: 16px;
      }
    }
  }
}
