@import '/src/styles/layouts/grids.scss';
@import '/src/styles/common.scss';

.main {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  margin-bottom: 40px;
  background-color: pink;
  @include column-flexbox;

  @include responsive(T) {
    padding: 0 48px;
  }

  @include responsive(D) {
    padding: 0 40px 0 20px;
  }

  .route {
    width: 100%;
    height: 45.25px;
    padding: 8px 0 16px 0;
    // background-color: yellow;

    @include responsive(T) {
      margin-bottom: 64px;
    }

    @include responsive(D) {
      margin-bottom: 64px;
    }
  }

  article {
    height: 2091.83px;

    img {
      width: 25%;
      object-fit: cover;
    }
  }
}
