@import '/src/styles/common.scss';

.main {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  margin-bottom: 40px;

  .nav-container {
    border-bottom: 1px solid $--colour-border-light;
    margin-bottom: 40px;

    ol {
      display: inline-block;

      padding: 16px 0;

      li {
        display: inline;
        font-size: 14px;
      }
    }
  }

  .item-img {
    img {
      width: 100%;
    }

    .sm-slide {
      width: 100%;
      height: 34px;
      border-top: 2px solid $--colour-border-light;
    }
  }

  .item-info {
    > p {
      color: $--colour-cmsg-new;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .item-primary-info {
      @include flexbox(between);
      flex-wrap: wrap;
      margin-bottom: 24px;
      h1 {
        @include column-flexbox(around, start);
        height: 57px;
        font-size: 0.75rem;
        font-weight: 400;
        span:first-of-type {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0.25rem;
        }
      }

      .rating-star {
        width: 365px;
        margin: 4px 0;
        font-size: 14px;

        .ic-star:last-of-type {
          color: lightgray;
        }
      }
    }

    .item-btn-group {
      @include flexbox(around);
      width: 100%;
      height: 56px;

      button:first-of-type {
        width: 80%;
        height: 56px;
        border-radius: 64px;
        color: white;
        font-weight: 700;
        background-color: $--colour-button-primary-emphasised-default;
      }

      button:last-of-type {
        width: 56px;
        height: 56px;

        border-radius: 50%;
        font-weight: 700;
        border: 2px solid $--colour-border-light;
      }
    }
  }

  @include responsive(T) {
    padding: 0 48px;
  }

  @include responsive(D) {
    padding: 0 40px 0 20px;
  }

  .route {
    width: 100%;
    height: 45.25px;
    padding: 8px 0 16px 0;
    // background-color: yellow;

    @include responsive(T) {
      margin-bottom: 64px;
    }

    @include responsive(D) {
      margin-bottom: 64px;
    }
  }

  article {
    height: 2091.83px;

    img {
      width: 25%;
      object-fit: cover;
    }
  }
}
