@import '/src/styles/common.scss';

.main {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  margin-bottom: 40px;

  hr {
    width: 100%;
    border: 1px solid $--colour-border-light;
  }

  .recommandation {
    h3 {
      margin-bottom: 32px;
      z-index: 0;
    }
    ol {
      @include flexbox(start);
      width: 100%;
      overflow: scroll;

      li {
        width: 200px;
        padding: 40px 0 16px 0;
        position: relative;
        margin-right: 4px;
        background-color: transparent;

        button:first-of-type {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          top: -40px;
          z-index: 9999;
        }

        img {
          width: 100%;
        }

        .item-primary-info {
          height: 127px;
          @include column-flexbox(between, start);
          span {
            font-size: 12px;
          }
          p {
            font-size: 12px;
            font-weight: 400;
          }

          .price {
            font-size: 16px;
            font-weight: 700;
          }

          .rating-star {
            font-size: 12px;

            span {
              margin-left: 8px;
            }
          }
        }

        button:last-of-type {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 10px;
          bottom: 5px;
          color: white;
          background-color: $--colour-button-primary-emphasised-default;
          border-radius: 50%;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 0 48px;
  }

  @include responsive(D) {
    padding: 0 40px 0 20px;

    .row:nth-child(2) {
      .item-img {
        img {
          width: 50%;
        }
      }

      .item-info {
        .item-btn-group {
          button:first-of-type {
            width: 70%;
          }
        }
      }
    }
  }
}
