@import '../../../../styles/common.scss';

.listPath {
  @include flexbox(flex-start, center);
  width: 100%;
  margin-bottom: 4rem;
  padding: 1rem 0;
  border-bottom: 1px solid $--colour-border-light;
  color: $--colour-text-dark;

  li {
    font-size: 0.75rem;
    line-height: 1.57;

    &:after {
      content: '>';
      margin: 0 8px;
    }

    &:last-child {
      color: $--colour-text-default;
    }

    &:last-child:after {
      content: '';
    }
  }
}
