@import '../../styles/var.scss';

.main_nav_logo {
  position: absolute;
  top: 1.25rem;
  left: 150px;
  background-color: #fff;
}

.main_nav_box {
  position: relative;
  display: flex;
  margin-top: 6.25rem;
  padding: 0 2rem 0 150px;
  width: auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  img {
    width: 100%;
  }
}

/*
issue
1. 서브 카테고리가 열릴 때 애니메이션 효과가 안먹히는 문제
2. 서브 카테고리 밑에 프로모션 데이터를 어떻게 추가할지의 문제
3. 받아온 데이터를 어떻게 가공할지의 문제
  최악은 다시 처음 데이터 구조로 달라고 부탁하는 것....우석님 미안...
*/
