// color
$--colour-campaign-sustainability: #00853e;
$--colour-icon-default: #111;
$--colour-icon-favourite: #e00751;
$--colour-icon-light: #929292;
$--colour-icon-inverse: #fff;
$--colour-disabled-ui: #dfdfdf;
$--colour-border-dark: #111;
$--colour-border-default: #929292;
$--colour-border-light: #dfdfdf;
$--colour-border-inverse: #fff;
$--colour-text-dark: #111;
$--colour-text-default: #484848;
$--colour-text-lightest: #767676;
$--colour-text-inverse: #fff;
$--colour-bg-promotion: #45ade2;
$--colour-bg-accent: #0058a3;
$--colour-bg-inverse: #111;
$--colour-bg-alternative: #f5f5f5;
$--colour-bg-default: #fff;
$--colour-cmsg-bti-red: #cc0008;
$--colour-cmsg-bti-yellow: #ffdb00;
$--colour-cmsg-ikea-family: #007cc1;
$--colour-cmsg-nlp: #cc0008;
$--colour-cmsg-new: #ca5008;
$--colour-semantic-informative: #0058a3;
$--colour-semantic-positive: #0a8a00;
$--colour-semantic-caution: #ffa524;
$--colour-semantic-negative: #e00751;
$--colour-button-primary-emphasised-press: #003e72;
$--colour-button-primary-emphasised-hover: #004f93;
$--colour-button-primary-emphasised-default: #0058a3;
$--colour-button-inverse-disabled-light: hsla(0, 0%, 100%, 0.15);
$--colour-button-inverse-border-default: hsla(0, 0%, 100%, 0.15);
$--colour-button-inverse-border-hover: hsla(0, 0%, 100%, 0.3);
$--colour-button-inverse-border-press: #fff;
$--colour-button-tertiary-inverse-press: hsla(0, 0%, 100%, 0.3);
$--colour-switch-off-hover: grey;
$--colour-switch-off-pressed: grey;
$--colour-transparent: transparent;
$--colour-backdrop-light: rgba(0, 0, 0, 0.15);
$--colour-backdrop-dark: rgba(0, 0, 0, 0.7);
$--colour-button-inverse-disabled-dark: rgba(17, 17, 17, 0.15);
$--colour-button-primary-press: #000;
$--colour-button-primary-hover: #333;
$--colour-button-primary-default: #111;
$--colour-button-danger-press: #b80029;
$--colour-button-danger-hover: #cc003d;
$--colour-button-danger-default: #e00751;
$--colour-neutral-grey-900: #111;
$--colour-neutral-grey-700: #484848;
$--colour-neutral-grey-500: #929292;
$--colour-neutral-grey-200: #dfdfdf;
$--colour-neutral-grey-100: #f5f5f5;
$--colour-neutral-white: #fff;
$--colour-secondary-accent-darker: #ccad00;
$--colour-secondary-accent-dark: #e6c200;
$--colour-secondary-accent: #ffdb00;
$--colour-primary-accent-darker: #003e72;
$--colour-primary-accent-dark: #004f93;
$--colour-primary-accent: #0058a3;
$--colour-brand-red: #cc0008;
$--colour-brand-yellow: #ffdb00;
$--colour-brand-blue: #0058a3;

// icon
$--icon-size: 1rem;
$--color-light-gray: #e2e2e2;
$--color-mid-gray: #666;
$--color-ikea-blue: #0058a3;
$--color-ikea-blue-dark: #004f93;
$--color-ikea-family-blue: #007cc1;
$--color-ikea-yellow: #ffd800;
$--color-gray-800: #333;
$--color-gray-600: #767676;
$--color-gray-300: #ccc;
$--color-black: #000;
$--color-10003: #f4f3d7;
$--color-10007: #0058a3;
$--color-10019: #814820;
$--color-10028: #959595;
$--color-10033: #3b7d22;
$--color-10042: #ffdb00;
$--color-10064: #a96ecc;
$--color-10112: #ff9a02;
$--color-10119: #ffb8c3;
$--color-10124: red;
$--color-10139: #000;
$--color-10152: #77ddd0;
$--color-10156: #fff;
