@import '../../styles/common.scss';

.product {
  position: relative;
  max-width: 25rem;
  padding: 1rem;
  font-size: 0.875rem;

  input {
    position: absolute;
    top: -0.5rem;
    left: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  i {
    position: absolute;
    top: -0.5rem;
    right: 1.5rem;
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease;
  }

  &:hover i {
    color: $--colour-icon-light;
  }

  &:hover h2 span {
    border-bottom: 1px solid $--colour-border-dark;
  }

  img {
    width: 100%;
  }

  .product_name {
    font-size: 0.875rem;
    cursor: pointer;
  }

  .products_explanation {
    margin-top: 20px;

    div {
      margin-top: 7px;
    }

    .product_price {
      font-size: 1.5rem;

      span {
        margin-right: 0.2rem;
        font-size: 0.75rem;
        vertical-align: top;
      }
    }
  }
}
