@import '../../../../styles/common.scss';
@import './Product/Product.scss';

.products {
  padding: 3rem 0;
  border-bottom: 1px solid $--colour-border-light;

  .productRow {
    @include flexbox(center center);
    flex-wrap: nowrap;
  }
}
