@import '/src/styles/common.scss';

.popup_liked {
  @include flexbox;
  width: 300px;
  height: 70px;
  position: fixed;
  right: 8%;
  top: 10%;
  background-color: black;
  color: white;
  border-radius: 4px;
  text-align: center;

  button::before {
    @include flexbox;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: 'X';
    color: black;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 6px;
    background-color: white;
  }
}

.invisible {
  display: none;
}
