@import '../../../../styles/mixins/flexbox';
@import '../../../../styles/constants/colors';

.section_title {
  @include flexbox(between, end);
  margin-bottom: 2rem;

  a {
    padding: 0.7rem 1.5rem 0.8rem;
    border: 1px solid $--colour-disabled-ui;
    border-radius: 64px;
    font-size: 0.75rem;
    font-weight: bold;
    transition: 200ms cubic-bezier(0.4, 0, 0.4, 1);

    &:hover {
      border-color: $--colour-icon-light;
    }
  }
}
