@import '../../styles/var.scss';

.side_modal_box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  visibility: hidden;
  transition: visibility 200ms 0s;

  .dimmer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: all;
  }

  .side_modal {
    position: absolute;
    top: 0;
    min-width: 30rem;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 200ms 0s;

    .close {
      position: absolute;
      top: 1.25rem;
      padding: 0.5rem;
    }

    &.left {
      left: 0;
      transform: translateX(-100%);

      .close {
        left: 50px;
      }
    }

    &.right {
      right: 0;
      transform: translateX(100%);

      .close {
        right: 50px;
      }
    }

    i {
      font-size: 24px;
    }
  }

  &.on {
    visibility: visible;

    .dimmer {
      opacity: 1;
    }

    .left,
    .right {
      transform: translateX(0);
    }
  }
}
