@import '../../styles/common.scss';

.sideModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .dimmer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: all;
  }

  .nav_like {
    position: absolute;
    top: 0;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 200ms 0s;

    .close {
      position: absolute;
      top: 1.25rem;
      padding: 0.5rem;
    }

    &.left {
      left: 0;
      transform: translateX(-100%);

      .close {
        left: 50px;
      }
    }

    &.right {
      right: 0;
      transform: translateX(100%);

      .close {
        right: 50px;
      }
    }

    i {
      font-size: 24px;
    }
  }

  &.on {
    .dimmer {
      opacity: 1;
    }

    .left,
    .right {
      transform: translateX(0);
    }
  }
}

/*
1. 컴포넌트는 스스로 불린값을 가져야하고
2. 그 불린값을 밖에서 제어할 수 있는 방법은 뭐가 있을까
*/
