@import '../../../../styles/var';

.details_modal {
  width: 480px;
  margin-top: 88px;
  padding: 2rem 3rem;
  font-size: 0.875rem;
  color: #484848;

  hr {
    margin-bottom: 0;
  }

  .content_title {
    h1 {
      font-size: 1.5625rem;
    }
  }

  .more {
    margin-bottom: 30px;
  }

  .optional_desc {
    height: 0;
  }

  [class$='title'] {
    button {
      @include flexbox(between);
      width: 100%;
      padding: 24px 0;
    }

    h2 {
      display: inline;
      font-size: 0.875rem;
    }
  }

  [class^='ic-'] {
    display: inline;
  }

  [class$='desc'] {
    // margin: 2rem 0;
    height: 0;
    overflow: hidden;
  }

  .show {
    height: auto;
  }

  span {
    display: block;
    margin-bottom: 2rem;
  }
}
