@import '../../../../styles/var';

.modal {
  @include flexbox;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.modal_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  background-color: red;
  z-index: 1;

  &::before {
    content: 'X';
  }
}

.modal_back {
  position: relative;
  width: 70%;
  height: 70%;
  background-color: white;

  img {
    width: 100%;
    @include pos-center;

    @include responsive(D) {
      & {
        width: auto;
        height: 100%;
      }
    }
  }
}
