@import '../../../../styles/var';

.modal {
  @include flexbox;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.modal_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: white;
  background-color: black;
  border-radius: 50%;
  z-index: 1;

  &::before {
    content: 'X';
    font-weight: 700;
  }
}

.modal_back {
  @include flexbox;
  position: relative;
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 4px;
}
