@import '../../../../../styles/var';

.product_details {
  width: 480px;
  margin-top: 88px;
  padding: 2rem 3rem;
  font-size: 0.875rem;
  color: #484848;

  .product_details_title {
    font-size: 1.5625rem;
    margin-bottom: 2rem;
  }

  .product_details_container {
    span {
      display: block;
      margin-bottom: 2rem;
    }

    .more {
      margin-bottom: 30px;
    }
  }
}
