@import '/src/styles/common.scss';

.item-details {
  .item-summary {
    @include column-flexbox(center, start);
    margin: 64px 0;

    span {
      display: inline-block;
      font-size: 12px;

      &:last-of-type {
        margin-top: 8px;
        padding: 4px 12px;
        font-weight: 900;
        color: white;
        background-color: black;
      }
    }
  }

  button {
    font-size: 14px;
    font-weight: 700;

    &:nth-of-type(3) {
      @include column-flexbox(around, start);
    }
  }

  .box {
    height: 90px;
    padding: 20px 0;
  }
}
