@import '../../../../../styles/var';

.item-details {
  .title {
    font-size: 1rem;
    font-weight: 700;
  }

  .item-summary {
    @include column-flexbox(center, start);
    margin: 64px 0;

    .content {
      margin-top: 30px;
      padding: 4px 12px;
      font-weight: 900;
      color: white;
      background-color: black;
    }
  }

  .box {
    @include flexbox(between);
    width: 100%;
    height: 90px;
    padding: 20px 0;

    i {
      font-size: 1em;
      font-weight: 700;
      transform: rotate(-90deg);
    }
  }

  hr {
    margin: 10px 0;
  }

  hr:last-of-type {
    border: 1px solid white;
    margin: 60px 0 30px 0;
  }
}
